
body {
    background: #000000; /* color de fondo */
  }


.letralogo {
  font-family: 'Climate Crisis', cursive;
  font-size: 30px;
}
.contenido {
  font-family: 'Roboto', sans-serif;
  opacity: 100 !important;
  color: rgb(255, 170, 0);
}

.container2 {
  background-color: rgba(0, 0, 0, 0.54); /* Establece un fondo negro con opacidad del 50% */
  padding: 20px; /* Agrega un padding para separar el texto del borde del contenedor */
}
.sobrenosotros {
    font-size: 30px;
    text-align: center;
}

.containerMenu {
  height: max-content;


}

.letraMenu{

  font-size: 30px;
}